# Power BI (Local files and cache)
**/.pbi/localSettings.json
**/.pbi/cache.abf

# Environment and Credentials (Security)
cloud_ingestion/.env
*.json

# Python
__pycache__/
.venv/
venv/
env/

# Raw Data (Locally generated)
*.jsonl
*.csv
*.xlsx

# Operating System
.DS_Store
Thumbs.db