# Configuración de Google Cloud Platform
GCP_PROJECT_ID=tu_project_id_aqui
GCP_DATASET_ID=tu_dataset_id_aqui

# Ruta absoluta al archivo JSON de tu Cuenta de Servicio (Service Account)
GOOGLE_APPLICATION_CREDENTIALS=/ruta/a/tus/credenciales/gcp_service_account.json

# Ruta absoluta de los archivos .JSONL de origen de datos
DATA_SOURCE_DIR="ruta/origen"